#header{
  .site-slogan{
    border-left: 2px solid #b5b5b5;
    display: inline-block;
    padding-left: 15px;
    color: #b5b5b5;
  }
  .site-email{
    background-position: left center; background-repeat: no-repeat; background-size: 20px 20px;  font-size: 18px; font-weight: 500; padding-left: 30px;
    line-height: 56px;
  }
  .site-phone{
    background-position: left center; background-repeat: no-repeat; background-size: 20px 20px;  font-size: 18px; font-weight: 500; padding-left: 30px;
    line-height: 56px;
  }
}