  <!-- FOOTER -->
  <footer>
    <div class="container">
      <hr class="featurette-divider">
      <p class="float-xs-right"><a href="#">Back to top</a></p>
      <p>© 2016 Liang Hotel Company, Inc.</p>
    </div>
  </footer>