<nav class="navbar navbar-default" role="navigation" id="navigation">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">酒店简介</a></li>
        <li><a href="#">关于我们</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">特殊服务 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">温泉浴</a></li>
            <li><a href="#">桑拿房</a></li>
            <li><a href="#">按摩</a></li>
            <li class="divider"></li>
            <li><a href="#">嘿嘿嘿</a></li>
            <li class="divider"></li>
            <li><a href="#">嘿嘿嘿again</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>